/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */
nav {
    background: linear-gradient(to bottom right, #0c1624, #1d3557);
    
    padding: 1rem;
}

.inner-nav {
    display: flex;
    align-items: stretch;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

nav span {
    color: #e63946;
    padding: 1.2rem;
    margin-top: .4rem;
    font-size: 1.25rem;
}

nav a {
    color: #f7f7f7;
    text-decoration: none;
}

nav a.hover-state {
    padding: 1.2rem;
    margin-top: .4rem;
    font-size: 1.25rem;
    transition: all .3s ease-in-out;
}

nav a.hover-state:hover {
    background: #457b9d;
    height: 100%;
    
}
nav a.logo {
    margin-right: auto;
}

nav i {
    font-size: 4.5rem
}

/* Document Wide Styling */

h1, h2, h3 {
    font-family: 'Arvo', serif;
}

p, a, span, div, button {
    font-family: 'Lato', sans-serif;
}

main.cart h1 {

        margin-bottom: 2.5rem;
        padding: 1.25rem .75rem 2.5rem;
        font-size: 2.5rem;
        color: #2f2f2f;
        text-align: center;
}

main.cart .cart-container {
    /* background: red; */
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main.cart .cart-container .cart-item {
    /* background: green; */
    padding: 2.5rem 1.5rem;
    border-bottom: 1px solid #cecece;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.cart .cart-container .cart-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

main.cart .checkout-container {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

main.cart div.checkout-container > * {
    text-align: center;
}

main.cart .checkout-container p {
    font-size: 2rem;
    color: #2f2f2f;
    margin-bottom: 2rem;
}

main.cart .checkout-container p span {
    color: #e63946;
}

main.cart .checkout-container input[type="submit"] {
    display: block;
    padding: 1rem 2.5rem;
    font-size: 1.15rem;
    background: #e63946;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: #f7f7f7;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

main.cart .checkout-container input[type="submit"]:hover {
    background: #e11c2b;
    cursor: pointer;
}