// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

main {
    width: 98%;
    max-width: 1300px;
    // background: red;
    margin: 2rem auto 0;

}

main.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .btn-container {
        // display: flex;
        // justify-content: space-around;

        input[type="submit"] {
            display: block;
            padding: 1rem 2.5rem;
            background: #e63946;
            margin-bottom: 1.5rem;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            color: #f7f7f7;
            text-decoration: none;
            transition: all .3s ease-in-out;

            &:hover {
                background: #e11c2b;
                cursor: pointer;
            }
            
        }
    }
}

main.show {
    
    background-size: cover !important;
    max-width: 100%;
    width: 100%;
    margin-top: 0;

    .container {
        margin: auto;
        max-width: 1200px;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    >* {
        color: #f7f7f7;
        text-shadow: 1px 1px 3px #000;
    }

    .tagline {
        text-align: center;
        font-size: 1.5rem;
        padding: 2.5rem .5rem 2.25rem;
        position: relative;

        &::after {
            height: 2px;
            background: #f7f7f7;
            width: 15%;
            position: absolute;
            left: calc( 85% /2 );
            bottom: 0;
            content: '';
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 2.5rem;
        padding: 1.25rem .75rem 2.5rem;
        font-size: 5rem;
    }

    h3, p {
        text-align: center;
    }

    h3 {
        margin-top: 3rem;
        font-size: 3.5rem;
    }

    p {
        margin: 2.5rem auto;
        padding-bottom: 2.5rem;
        max-width: 800px;
        width: 96%;
        font-size: 1.15rem;
        line-height: 1.7;
    }

    form {
        padding-bottom: 2rem;
    }

    input[type="submit"] {
        display: block;
        padding: 1rem 2.5rem;
        background: #e63946;
        margin: -1.5rem auto 1.5rem;
        margin-right: auto;
        border-radius: 5px;
        color: #f7f7f7;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover {
            background: #e11c2b;
            cursor: pointer;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    align-items: center;
    background: #eeeeee;
    box-shadow: 4px 10px 9px rgba(0,0,0, .22);
    flex-basis: calc( 33.333% - 2rem);

    img {
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #2f2f2f
    }

    a {
        display: block;
        padding: 1rem 2.5rem;
        background: #0c1624;
        margin-bottom: 1.5rem;
        border-radius: 5px;
        color: #f7f7f7;
        text-decoration: none;
        transition: all .3s ease-in-out;

        &:hover {
            background: #1d3557;
        }
    }
}

div#ImageGallery figure {
    border: 0px solid #000000;
    width: 320px;
    border-radius: 3px;
    padding: 1em 1em 1em 1em;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    vertical-align: top;
    background: #f7f7f7;

    img {
        // border: 1px solid #cecece;
        max-width: 100%
    }
  }
  div#ImageGallery div > figure:first-child {
      transform: rotate(-5deg);
  }
  div#ImageGallery div > figure:last-child {
      transform: rotate(5deg);
  }
  div#ImageGallery figure img {
   border-radius: 3px;
  }
  div#ImageGallery figcaption {
   color: #2f2f2f;
   text-shadow: none;
   font-family: cursive;
   margin-top: .75rem;
   text-align: center;
   font-size: 1.15rem;
  }
  
  .destination-card-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-basis: calc(33.333% - 2rem);
  }